/* stylesheet for whole portfolio */

body {
	background-color: #FFFFCC; 
}

h1 {
	font-family: Georgia;
	font-size: 30px;
	text-align: center;
}

.img {

    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;

}

#blurred_img {

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);

}

h2 {
	font-family: Georgia;
	font-size: 20px;
	color: blue;
	margin-left: 5%;
}

p {
	font-family: Georgia;
	font-size: 15px;
	color: black;
	margin-left: 10%;
}

ul {
	font-family: Georgia;
	font-size: 12px;
	color: black;
	margin-left: 15%;
}

/*
img {
    position: center
}*/